{% load static tailwind_tags django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>WT</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
	<body id="body">
    {% block main %}{% endblock %}
	</body>
  {% django_browser_reload_script %}
  <script src="https://unpkg.com/alpinejs@3.14.9" defer></script>
  <script src="https://unpkg.com/htmx.org@2.0.4" defer></script>
</html>

